body {
background: #000;
font-family: "Helvetica","Arial","sans"; 
color: #fff
}

h1 { 
margin-left: 13px
}

#mainContainer {
width: 900px;
margin: 0 auto
}

.well {
left; background: #343434
}

input {
height: 40px;
line-height: 1.3em;
color: #444;
font-size: 1.3em;
padding: 6px 12px;
border-radius: 4px
}

.col {
width: 300px;
float: left
}

ul li {
color: #fff;
cursor: pointer
}

#decklist {
padding: 0;
margin: 0;list-style-type: none
}

#decklist li { width: 240px;
box-shadow: #000 -1px 3px 15px;
border-radius: 6px;
position: relative
}

#decklist span.gem {
font-size: 19px;
text-shadow: 1px 2px 1px #000;
padding: 0 0 0 9px;
line-height: 29px;
display: block;
width: 26px;
height: 27px;
background: url(../img/gem.png) 0 0 no-repeat;
position: absolute;
z-index: 4;
top: -2px;
left: -6px;
}

#decklist li {
background-position: 93px -85px
}

#decklist li a { 
font-size: 16px;
line-height: 25px;
font-weight: 400;
padding: 0 0 0 31px;
color: #fff;
width: 231px;
height: 24px;
display: block;
background: url(../img/cardunit.png) 0 0 no-repeat;
}

#decklist li a:hover {
text-decoration: none
}

#decklist span.count {
background:rgb(144, 14, 42);
width: 20px;
height: 24px;
color: #fff;
position: absolute;
z-index: 5;
right: 0;
top: 0;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
line-height: 24px;
padding: 0 0 0 5px;
font-size: 18px;
}
